*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
height: 5vh;
width: 216vh;
display: flex;
justify-content: flex-end;
}
.content {
  display: flex;
  justify-content: space-between;
  width: 35vh;
  margin-right: 20px;
}
.navBar{
  border: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 20px;
  width: 45vh;
}
.navBar div{
  background-color: #e3d5ca;
}
.btn {
  width: 10vh;
  border: none;
  border-radius: 0px 20px 20px 0px;
  font-size: 20px;
  color: white;
  
}
/* .crdSect{
  display: flex;
  flex-direction: row;
  width: 216vh;
  height: 50vh;
  justify-content: space-around;
  margin-top: 50px;
} */
.crdSect{
  display: grid;
  justify-content: center;
  align-self: center;
  grid-template-columns: repeat(3,300px);
  grid-template-rows: repeat(2,300px);
  grid-template-areas: 
  'card1 card2 card3'
  'card4 card5 card6';
  gap: 100px;
  margin-top: 50px;
}
/* .crdSect div {
  border: 1px solid white;
  text-align: center;
  width: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eae2b7;
} */
.card{
  background-color: #eae2b7;
  border-radius: 20px;
  height: 50vh;
  width: 50vh;
}
.cont{
  margin-top: 10px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.pro{
  height: 60px;
  width: 60px;
  border-radius: 50px;
}
.icon{
  height: 40px;
  width: 40px;
}
.profil{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
p{
  text-align: center;
}
.action{
  margin-top: 5px;
  height: 50px;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}